obj
bin
debug
release
Debug
Release
*.csproj.*
*.vcproj.*.user
*.suo
*.user
*.cache
*.ncb
*.obj
*.exp
*.pdb
*.pch
*.ipch
*.idb
*.ilk
*.dep
*~
*.swp
*.trx
TestResults
*.opensdf
*.sdf

*.torrent
*.mk
*.ben
*.bin
*.exe
*.xml

_ReSharper.*
*ReSharper.user


# xcode noise
*.mode1v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
ide/xcode/build
**/build/*

# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile

docs

Local.testsettings
Meerkat/bt.dll
Meerkat/bt.lib
Meerkat/Meerkat.exe.config
Meerkat/Meerkat.vshost.exe.config
Meerkat/MeerkatBindings.dll
TraceAndTestImpact.testsettings